<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a th:href="@{/index}" class="navbar-brand">Todo IT</a>
        <ul class="nav">
            <li class="nav-item d-flex align-items-center">
                <div class="me-3">
                    <span class="navbar-text text-center">Logged in as Nisse</span>
                </div>
                <a class="btn btn-primary btn-success" href="#">Home</a>
            </li>
        </ul>

        <form class="d-flex" method="post">
            <input class="btn btn-success btn-lg" type="submit" value="Log Out" />
        </form>
    </div>
</nav>
</body>
</html>