<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Person View</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col">
                    <h3 class="navbar-brand m-0" th:text="${person.firstName + ' ' + person.lastName} + ':'"></h3>
                </div>
                <div class="col">
                    <div class="row justify-content-end">
                        <div class="col-2">
                            <a class="btn btn-success" th:href="@{/people/{username}/update (username = ${person.userCredentials.username}) }" href="#" >Update</a>
                        </div>
                        <div class="col-2">
                            <form method="post">
                                <input type="hidden" th:value="${person.id}" name="id" id="id">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div th:if="${person.assignedTodos == null or person.assignedTodos.isEmpty()}">
                <p>No todo items yet</p>
            </div>
            <table th:unless="${person.assignedTodos == null or person.assignedTodos.isEmpty()}" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Done</th>
                        <th scope="col">Link</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody th:each="todoItem,iterator : ${person.assignedTodos}">
                    <tr>
                        <th class="align-middle" scope="row" th:text="${iterator.count}"></th>
                        <td class="align-middle"><span th:text="${todoItem.title}"></span></td>
                        <td class="align-middle"><span th:text="${todoItem.deadLine}"></span></td>
                        <td class="align-middle"><span th:text="${todoItem.done} ? 'COMPLETED' : 'UNFINISHED'"></span></td>
                        <td class="align-middle"><a th:href="@{/todos/{id} (id = ${todoItem.id}) }" class="btn btn-sm btn-primary mr-1">Details</a></td>
                        <td class="align-middle">

                            <button th:if="${todoItem.done}" type="submit" disabled class="btn btn-sm btn-success">Complete</button>
                            <a th:href="@{/todos/{id}/complete (id = ${todoItem.id})}" th:unless="${todoItem.done}" class="btn btn-sm btn-success">Complete</a>

                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-grid gap-2">
                <a href="#" th:href="@{/todos(search='available')}" class="btn btn-primary">Find a Job</a>
                <a href="#" th:href="@{/todos/create(username = ${#authorization.authentication.name}, self=true)}" class="btn btn-primary">Create Self-assigned Todo</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" > </script>
</body>
</html>